################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Programacion 1/CopilotIndices/17.13.441.19478
/.vs/Programacion 1/FileContentIndex
/.vs/Programacion 1/v17
/.vs
